*{
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg,purple,white);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  width: 100%;
  max-width: 500px;
}
.center h1{
font-size: 60px;
}
.center h1 span{
  color: darkorange;
}
.input{
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  background-color: rgba(255, 255,255,0.3);
  display: flex;
  align-items: center;
}
.input input{
  flex: 1;
  border: 0;
  outline:0 ;
  margin-right: 20px;
  padding: 14px 20px;
  font-size: 14px;
  border-radius: 5px;
  position: relative;
}
.input button{
  background-color: rgb(181, 226, 16);
  padding: 12px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
}
.input input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px; /* position calendar icon properly */
  width: 30px;
  height: auto;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
  opacity: 1;
}

#result{
  font-size: 20px;
}
#result span{
  color: #d53369;
}
